@charset "UTF-8";

header {
	width: 100%;
	position: relative;
	border-bottom: 1px solid #bababa;
}

.header--wrap{
	width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}

.in--header--wrap{
	width: 90%;
	margin: auto;
}

.member {
	display: flex;
	justify-content: flex-end;
	height: 50px;
	align-items: center;
	gap: 15px;
	font-size: 14px;
	margin-right: 100px;
}

.header--logo {
	margin-left: 100px;
	text-align: center;
}

.main--total--search {
	display: flex;
	align-items: center;
}

.search--btn {
	width: 25px;
	height: 25px;
	background-image: url("/img/search.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-color: initial;
	border: 0;
	margin-left: 5px;
}

label.main--search {
	margin: 0;
}

#main--search {
	padding: 3px 12px;
	border-radius: 15px;
	border: 1px solid #666;
	width: 150px;
}

.date {
	color: #ff2588;
	font-weight: 600;
	position: relative;
}

.date::before {
	content: "💕";
	color: #ff2588;
	position: absolute;
	right: 10px;
	top:-13px;
	transform: rotateZ(20deg);
}

.date:hover {
	cursor: pointer;
}

.nav--menu {
	width: 700px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav--menu--li {
	width: 12.3%;
	text-align: center;
}

.sub--menu {
	width: 150px;
	height: 0;
	overflow: hidden;
	text-align: center;
	position: absolute;
	top: 40px;
	left: 50%;
	z-index: 9;
	transform: translateX(-50%);
	transition-duration: 0.3s;
	border-radius: 20px;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

.sub--menu li {
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #fff;
	color: #000;
}

.nav--menu--li:hover .sub--menu {
	height: 240px;
}

.sub--menu li:hover a {
	color: #ff2588;
	border-bottom: 1px solid #ff2588;
}

.mobile--wrap {
	width: 30px;
	height: 23px;
	position: relative;
	display: block;
}
.mobile--wrap .bar {
    position: absolute;
    right: 0;
    height: 2px;
    transition: all ease 0.3s;
    background-color: #333;
}
.mobile--wrap .bar.bar01 {
	top: 3px;
  width: 21px;
}
.mobile--wrap .bar.bar02 {
  top: 10px;
  width: 21px;
}
.mobile--wrap .bar.bar03 {
  top: 17px;
  width: 30px;
}
.mobile--all--menu{
    position: fixed;
    top: 261px;
    right: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 9;
    overflow: hidden;
    transition: all ease 0.6s;
}
.all--menu{
	height: 100%;
}
.all--menu ul {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: auto;
    align-content: center;
}
.main--banner{
	position: relative;
	height: 80px;
	background-image: linear-gradient(to top, #ff2589, #fff);
}
.x--icon{
	position: absolute;
	right: 0;
}
.swiper-pagination-bullet{
	background-color: rgba(255, 255, 255, 0.9) !important;
}
.swiper-pagination-bullet-active{
	background-color: #ff2588 !important;
}