@charset "UTF-8";

/*이미지 슬라이드 start */
main {
	width: 100%;
	position: relative;
	height: 450px;
}

.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	background-size: cover;
}

.swiper-pagination-bullet {
	background: #fff;
}

.swiper-pagination-bullet-active {
	background: #ff2588 !important;
}

.flex--between--wrap {
	display: flex;
	flex-direction: column;
}

/* 이미지 슬라이드 end */

/* 검색 결과 start */
.seach--movie--wrap {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 6%;
}
.movie--post img {
	border-radius: 10px;
}

.seach--movie--info {
	padding-bottom: 20px;
}
.seach--movie--item{
	margin-top: 100px;
	width: 29.3%;
}
.seach--movie--item:nth-child(1){
	margin-top: 0;
}
.seach--movie--item:nth-child(2){
	margin-top: 0;
}
.seach--movie--item:nth-child(3){
	margin-top: 0;
}
.seach--movie--sub--info {
	display: flex;
	gap: 20px;
}

.seach--movie--content {
	padding: 20px 0 70px;
	text-align: justify;
}

/* 검색 결과 end */

/* 영화 차트 start*/
#movie--film:after {
	content: '';
    width: 100%;
    height: 30px;
    display: block;
    background-image: url(/img/mainFilm.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#removie--film:after {
	content: '';
    width: 100%;
    height: 30px;
    display: block;
    background-image: url(/img/mainFilm.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#main--container{
	padding: 150px 0;
}

h1.index--title{
	font-size: 56px;
	color: #ff2588;
	margin-bottom: 20px;
}

/* 영화 차트 end*/

.section--title {
	margin-top: 150px;
}

.movie--title {
	font-size: 24px;
	font-weight: bold;
	height: 65px;
	margin-top: 10px;
}

.movie--release, movie--watchgrade{
	height: 30px;
}
.movie--list--box {
	display: flex;
	justify-content: center;
	align-items: center;
}

.movie--text--box {
    width: 313px;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.movie--text--box h3{
	height: 50px;
	margin-bottom: 20px;
}

.movie--img{
	width: 100%;
	height: 445px;
    margin-bottom: 10px;
}

.movie--text--box img{
	width: 100%;
	height: 100%;
}

.movie--btn{
	width: 135px;
	padding: 10px 0;
	font-size: 16px;
	border-radius: 6px;
	border: 1px solid #ff2588;
	background-color: #fff;
}

.movie--btn:nth-child(2){
	background-color: #ff2588;
	color: #fff;
	margin-left: 12px;
}

#main--container .swiper.mySwiper .swiper-slide{
	width: auto !important;
	display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

/* 약관 start*/
.terms--wrap {
	margin-top: 20px;
	border: 1px solid #bababa;
	height: 500px;
	overflow-y: scroll;
	padding: 5%;
	text-align: justify;
	line-height: 24px;
}

.terms--wrap::-webkit-scrollbar {
	width: 4px;
}

.terms--wrap::-webkit-scrollbar-thumb {
	height: 30%;
	background: #666;
	border-radius: 10px;
}

.terms--wrap::-webkit-scrollbar-track {
	background: rgba(27, 27, 27, 0.1);
}

.terms--sub{
	margin: 5px 0 0 30px;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5); /* Dark overlay with opacity */
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.3s ease;
	padding: 10px; /* Ensure that the overlay fits within the image */
	box-sizing: border-box;
	/* Ensure padding is included in the dimensions */
}

.index--link{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.index--link a.overlay--link{
	width: 47%;
	box-sizing: border-box;
	border-radius: 6px;
    border: 1px solid #ff2588;
    background-color: #fff;
	padding: 10px 0;
	font-size: 14px;
}

.index--link a.overlay--link:last-child{
	background-color: #ff2588;
    color: #fff;
    }

.movie--img--container:hover .overlay {
	opacity: 1;
}