@charset "UTF-8";

/*이미지 슬라이드 start */
main {
	width: 100%;
	position: relative;
	height: 450px;
}

.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	background-size: cover;
}

.swiper-pagination-bullet {
	background: #fff;
}

.swiper-pagination-bullet-active {
	background: #ff2588 !important;
}

.flex--between--wrap {
	display: flex;
	justify-content: space-between;
}

/* 이미지 슬라이드 end */

/* 검색 결과 start */
.seach--movie--wrap{
	display: flex;
	margin-top: 20px;
}
.seach--movie--item{
	display: flex;
	gap: 50px;
}
.movie--post img{
	border-radius: 10px;
}
.seach--movie--info{
    border-bottom: 1px solid #bababa;
    padding-bottom: 20px;
}
.seach--movie--sub--info{
    display: flex;
    gap: 20px;
}
.seach--movie--content{
    padding-top: 20px;
    text-align: justify;
}

/* 검색 결과 end */
.top--title {
	color: #ff2588;
	font-size: 30px;
	margin-top: 150px;
	margin-bottom: 50px;
}

<<<<<<< HEAD
img{
	width:150px;
}

.movie--list--box{
=======
.movie--list--box {
>>>>>>> 32a4fcf (영화 검색 기능 중)
	display: flex;
	justify-content: center;
	align-items: center;
}

.movie--text--box {
	display: flex;
	flex-direction: column;
}

.movie--content--box{
	margin: 10px;
	border: 10px;
}

.movie--img--container {
    position: relative;
}

.movie--img {
    border-bottom: 10px;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay with opacity */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 10px; /* Ensure that the overlay fits within the image */
    box-sizing: border-box; /* Ensure padding is included in the dimensions */
}

.movie--img--container:hover .overlay {
    opacity: 1;
}

.overlay-link {
    color: white;
    font-size: 1.2rem; /* Adjust font size as needed */
    text-align: center;
    text-decoration: none;
    margin: 5px 0; /* Space between links */
    display: block;
}

.overlay-link:hover {
    text-decoration: underline;
}
